@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styles */
@layer {
    /* CONFIG STYLE */

    body {
        @apply font-inter text-base font-normal text-txtDark bg-white transition-all duration-500 ease-in-out m-0 p-0;
    }
    html {
        scroll-behavior: smooth;
    }

    *,
    *::before,    *::after {
    @apply m-0 p-0 box-border;
    }

    ::-webkit-scrollbar {
    @apply w-4 h-4;
    }

    ::-webkit-scrollbar-thumb {
    @apply bg-[#344675] rounded-[100vh] border-solid border-4 border-darkBgSec;
    }

    ::-webkit-scrollbar-track {
    @apply bg-darkBgSec;
    }

    ul{
        list-style: none;
    }
    a{
    text-decoration: none;
    }
    h6{
        font-size: 24px;
        font-weight: 700;
        font-family: "DM Sans", sans-serif;
    }
}

@layer components {
    /* CONFIG COMPONENTS */
    .container {
        @apply w-[90%] md:w-4/5 lg:w-[1237px] 1xl:w-[1237px] mx-auto max-w-[90%] py-16 overflow-hidden;
    }
    .container-2 {
        @apply w-[90%] md:w-4/5 lg:w-[80%] xl:w-[1036px] mx-auto max-w-[90%] overflow-hidden;
    }

    .news-container{
        @apply lg:w-[90%] md:w-4/5 w-[90%] overflow-hidden mx-auto
    }

    /** BUTTON **/
    .btn {
        @apply px-4 py-2 text-sm bg-secondary text-white cursor-pointer border border-transparent focus:outline-none  ;
    }
    .btn-2{
        @apply px-4 md:py-2 py-1 text-sm bg-transparent text-primary focus:outline-none cursor-pointer ;
        border: 1px solid transparent;
        border-image: linear-gradient(#0D99FF, #020066) 1;
        border-radius: 6px;
        overflow: hidden;
    }
    .btn-3{
    @apply cursor-pointer py-[6px] px-[22px] border border-solid border-[#D1D5DB] font-medium font-dmSans text-lg text-[#374151];
    }

    .submit-btn{
    @apply md:px-6 px-4 md:py-3 py-2 font-bold md:text-[16px] text-[10px] uppercase font-montserrat disabled:cursor-not-allowed text-sm bg-secondary text-white cursor-pointer border border-transparent rounded-sm focus:outline-none  ;
    }

    .header-btn{
        @apply font-normal text-[10px] py-2 text-center font-dmSans;
    }

    .card-2{
        @apply md:w-[574px] w-full md:h-[237px] md:shadow-[0_10px_50px_2px_rgba(0,0,0,0.08)] shadow-[0_8px_40px_2px_rgba(0,0,0,0.08)] md:py-9 py-7 px-[24px] text-[#212121] rounded-[10px];
    }
    .card-3{
        @apply w-[385px] h-[449px] rounded-[20px] cursor-pointer shadow-[0_4px_10px_0px_rgba(0,0,0,0.06)] overflow-hidden;
    }
    .card-4{
        @apply h-[449px] rounded-[20px] cursor-pointer shadow-[0_4px_10px_0px_rgba(0,0,0,0.06)] overflow-hidden;
    }
    .input {
        @apply border border-solid rounded-sm border-[#E0E0E0] md:py-3 py-2 px-2 md:px-5 md:h-[50px] h-[42px] focus:outline-none shadow-none focus:border-gray-600 transition-all duration-200 ease-in-out placeholder:font-dmSans placeholder:font-normal placeholder:text-sm text-[16px] md:text-sm;
      /* outline: none; */
    }
}

@layer utilities {
    /** SHADOW **/
    /* .shadow-small{
      @apply shadow-[0_1px_2px_0_rgba(0, 0, 0, 0.05)];
    
    } */
    
    
    .header-text{
        @apply font-dmSans font-bold lg:text-[50px] md:text-[35px] text-[23px] text-primary leading-[25px] md:leading-[45px] lg:leading-[65px];
    }
    .content{
        @apply font-dmSans md:text-[20px] sm:text-sm text-[11px] font-normal leading-[18px] sm:leading-[25px] lg:leading-[30px];
    }
    .card3-header{
       @apply text-[24px] font-bold font-dmSans text-txtDark2;
    }
    .card3-subheader{
        @apply text-[16px] font-dmSans font-normal;
    }
    .err-message {
        @apply text-rose-500 font-medium
    }
    .text {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
                line-clamp: 3; 
        -webkit-box-orient: vertical;
     }
}